@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

html, body {
  height: 100%;
  width: 100%;
  font-family: 'Poppins', sans-serif; 
  color: #222
} 


#footercollapse {
  display: none;
}

#mobile {
  display: none;
}

.hero-image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-image: url("../img/background.jpg");
  height: 90%;
  max-width: 100%;
  padding-right: 3rem;
  border-bottom: 3px solid #7931fd;
  
}

.hero-imagem {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-image: url("../img/background-mobile.jpg");
  max-width: 100%;
  border-bottom: 3px solid #7931fd;
  
}

.smokewhite {
  background-color: #d5d5d5;
}

.white {
  background-color: #dee1e3;
}

.shadow2 {
box-shadow: 0 3px 6px rgba(0,0,0,0.3);
-webkit-box-shadow: 0 3px 6px rgba(0,0,0,0.3);
-moz-box-shadow: 0 3px 6px rgba(0,0,0,0.3);
}


.logo {
      line-height: 40px;
      position: fixed;
      float: left;
      margin: 16px 36px;
      transition: 1s;
}

.logo img {
 width: 92px;
  }

nav {
      position: fixed;
      width: 100%;
      line-height: 60px;
      z-index: 20;
      
}

nav ul {
      line-height: 40px;
      list-style: none;
      background: rgba(0, 0, 0, 0);
      overflow: hidden;
      color: #2ee4b7;
      padding: 0;
      text-align: right;
      margin: 0;
      padding-right: 40px;
      transition: 1s;
}

nav.black ul {
      background: rgba(10,24,43,.8);
      border-bottom: : 2px solid #7931fd;
}

nav ul li {
      display: inline-block;
      padding: 16px 20px;
}

nav ul li a {
      text-decoration: none;
      color: #2ee4b7;
      font-size: 16px;
}

.menu-icon {
      line-height: 40px;
      background: #6648b1;
      text-align: center;
      box-sizing: border-box;
      padding: 15px 24px;
      cursor: pointer;
      color: #ffff;
      display: none;
      padding-top: 1.2em;
      padding-right: 2em;
      width: 100%;
      text-align: right;
}

#face, #insta, #pinte, #you, #group {
  position: absolute;
}

.socials a {
  font-size: 2em;
  color: #7931fd;
 }

.socials2 a {
   font-size: 1.5em;
  color: #d5d5d5;
}

.socials a:hover {
 color: #d5d5d5;
  font-size: 2.5em;
}


.socials2 a:hover {
 color: #7931fd;
  font-size: 2.5em;
}


.socials {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  height: 300px; 
  align-items: center; 
  padding-right: 2rem;
}

.socials2 {
  display: flex;
  flex-direction: row;
  align-content: space-around;
  justify-content: space-around;
  align-items: center; 
  max-width: 100%;
}

.mmm {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 66%;
  overflow: hidden;
}

.mmm2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  overflow: hidden;
  padding: 5rem 0 2.5rem 0;
}

.caption {
  text-align: center;
  width: 38%;
}

.caption2 {
  text-align: center;
  max-width: 100%;
  padding: 0 .2rem;
}

.caption p {
color: #d5d5d5;
}

.caption h1{
  color: #fff;
  font-size: 425%;
  text-transform: uppercase;
  text-shadow: 1px 1px 15px #000;
}

.caption h3 {
  font-size: 160%;
  font-weight: 500;
  text-shadow: 1px 1px 10px #000;
  padding-bottom: 1rem;
  color: #fff;
}

.caption button {
 margin: 1rem;
   }

.caption2p {
display: flex;
flex-direction: column;
align-content: center;
justify-content: center;
align-items: center;
  max-width: 100%;
}

   .caption2 p {
color: #d5d5d5;
font-size: .9em;
max-width: 80%;
}

.caption2 h1{
  color: #fff;
  font-size: 250%;
  text-transform: uppercase;
  text-shadow: 1px 1px 15px #000;
}

.caption2 h3 {
  font-size: 120%;
  font-weight: 500;
  text-shadow: 1px 1px 10px #000;
  padding-bottom: 1rem;
  color: #fff;
  margin-bottom: 2rem;
}

.caption2 button {
 margin: 2rem 0 2rem 0;
 font-size: .9em;
   }

.btn-primary {
  background-color: #7931fd;
  border: 2px solid #c09dff;
  border-radius: 50px;
 }

.btn-primary:hover {
  background-color: #d5d5d5;
  border: 2px solid #a591d6;
}

.btn-outline-light {
  border: 3px solid #fff;
  color: #7931fd;
  border-radius: 50px;
}

.jumbo {
  background-color: rgb(10,24,43);
  padding: 1.5rem;
}


.jumbo p {
  color: #d5d5d5;
  margin-bottom: 0;
}

.jumbo h5{
  color: #d5d5d5
  }

.padding {
  padding-bottom: 2rem;
}


.fondoscuro {
  background-color: #21282e;
}


.flexuno {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 2em;
  padding-top: 2em;
  overflow: hidden;
}

.flexdos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.welcome {
width: 75%;
margin: 0 auto;
padding-top: 2rem;
}

.welcome hr {
border-top: 2px solid #b4b4b4;
width: 95%;
margin-top: 3rem;
margin-bottom: 1rem 
}


.fa-download {
color: #2ee4b7;
font-size: 4em;
margin-bottom: 2rem;
margin-top: 2rem;
}

.fa-paint-brush {
color: #DAA520;
font-size: 4em;
margin-bottom: 2rem;
margin-top: 2rem;
}

.fa-sliders-h {
  color: #7931fd;
font-size: 4em;
margin-bottom: 2rem;
margin-top: 2rem;
}

.fa-eye, .fa-users, .fa-video{
font-size: 2em;
margin: .2rem;
color: #7931fd
}

#tarjeta1 {
  border-top-left-radius: 30px;
}

#tarjeta3 {
  border-top-right-radius: 30px;
}


.card1 {
    background-image: url("../img/card1.jpg");
  -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
    align-items: center;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    border-radius: 30px;
}

.card2 {
    background-image: url("../img/card2.jpg");
  -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
    align-items: center;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    border-radius: 30px;
}

.card3 {
    background-image: url("../img/card3.jpg");
  -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
    align-items: center;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    border-radius: 30px;
}


.shadow {
-webkit-box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
-moz-box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
padding: 0!important;
margin: 1rem;
border-radius: 30px;
}

.fun {
  width: 100%;
  margin-bottom: 2rem;
  border-color: transparent;
}

.modulos {
  width: 100%;
  border-color: transparent;
}

.gif  {
  max-width: 100%
}

.texto  {
  text-align: justify;
}

.social	 a {
 font-size: 4.5em;
 padding: 3rem;
}

.fa-youtube-square {
color: #bb0000;
font-size: 4em;
}

.fa-youtube-square:hover {
  color: #d5d5d5;
}
#fgroup1 {
  display: inline-flex;
}

#fgroup2 {
  display: none;
}

footer {
color: #d5d5d5;
padding-top: 1rem;
}

hr.light {
border-top: 1px solid #d5d5d5;
width: 75%;
margin-top: .8rem;
margin-bottom: 1rem;
}

footer a {
color: #d5d5d5;
}

hr.light-100 {
border-top: 1px solid #d5d5d5;
width: 100%;
margin-top: .8rem;
margin-bottom: 1rem;
}

.cardblog {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: space-between;
}

#cardblog2 {
  width: 45px;
    height: auto;
    position: absolute;
    top: 20;
    -webkit-transform: translateY(-50%);
    transform: translateY(-59%);
    
}

.fa-blogger {
  color: #ff8400;
}

.flexfooter {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.flexfooter a{
  margin: 0 .5em 0 .5em;
}

.jumbotron {
background: #2ee4b7;
color: #FFF;
border-radius: 0px;
}
.jumbotron-sm { padding-top: 24px;
padding-bottom: 24px; }
.jumbotron small {
color: #FFF;
}
.h1 small {
font-size: 24px;
}


#ckout {
  background-color: #ff6f00;
  border: 2px solid yellow;
  font-size: 1.5rem;
}

#ckout:hover {
  background-color: #d5d5d5;
}

#bannercur {
  max-width: 100%;
}

/*---Youtube playlist --*/

.vid-container {
  position: relative;
  padding-top: 30px; 
  }


.vid-list-container {
  width: 100%;
  overflow: hidden;
  margin-top: 20px;
  padding-bottom: 20px;
}

.vid-list {
  width: 1344px;
  position: relative;
  left: 0;
}

.vid-item {
  display: block;
  width: 148px;
  height: 140px;
  float: right;
  margin: 0;
  padding: 10px;
}

.thumb {
  overflow:hidden;
  height: 84px;
  
}


.thumb img {
  width: 100%;
  position: relative;
  top: -7px;

   }

.vid-item .desc {
  color: #2ee4b7;
  font-size: 15px;
  margin-top:5px;
}


.arrows {
  position:relative;
  width: 100%;
}

.arrow-left {
  color: #2ee4b7;
  position: absolute;
  background: rgba(200,200,200,.2);
  padding: 15px;
  left: -25px;
  top: -130px;
  z-index: 99;
  cursor: pointer;
}

.arrow-right {
  color: #2ee4b7;
  position: absolute;
  background: rgba(200,200,200,.2);
  padding: 15px;
  right: -25px;
  top: -130px;
  z-index:100;
  cursor: pointer;
}

#vid_frame2 {
  display: none;
}

#vid_frame3 {
  display: none;
}



/*---Media Queries --*/


@media (max-width: 1521px) {



}



@media (max-width: 1334px) {


.caption {
  text-align: left;
  max-width: 50%;
}

.caption button {
 font-size: 1rem;
   }

.caption h1{
  font-size: 375%;
}

.caption h3{
  font-size: 140%;
}


#wel {
  padding-top: 6rem!important;
}

#vid_frame {
  display: none;
}

#vid_frame2 {
  display: inline;
}

}


@media (max-width: 1122px) {
.caption {
  text-align: left;
  max-width: 100%;
}


.caption h1{
  color: #fff;
  font-size: 280%;
  text-transform: uppercase;
  text-shadow: 1px 1px 15px #000;

     }

     .caption h3{
  
  font-size: 120%;
  
     }

.btn-primary {
  font-size: 1em; 
 }


.mmm {
  width: 75%;
  
}


#titulocur {
  font-size: 2.8rem!important;
  font-weight: 10!important;
}


#modulo1, #modulo2, #modulo3, #modulo4, #modulo5 {
  width: 75%!important;
}

   }


@media (max-width: 992px) {


.caption h1 {
  font-size:  200%;
      }

.caption {
  width: 45%;
      }

     .caption h3{
  
  font-size: 100%;
  
     }

.caption button {
 font-size: .8rem;
   }

.mmm {
  width: 90%;
  padding-top: 2rem;
  
}

#imagen1, #imagen2 {
  max-width: 60%;
}


#cont1 {
  padding: 2rem .5rem 4rem .5rem!important;
}

#jumbotext {
  font-size: 1.1em!important;
}

#aprende {
  font-size: 2em!important;
}


.fijo {
  top: 40%!important;
  max-width: 95%!important;
  }

#suscribe {
  font-size: 2em;
}

#suscribe2 {
  max-width: 100%!important;
  padding: 0 5rem 2rem 5rem!important;
}


#titulocur {
  font-size: 2.8rem!important;
  font-weight: 10!important;
}

#bannercurcontainer, #bannercurcontainer2 {
  padding: 0 1rem 0 1rem;
}

#titulocur {
  font-size: 2rem!important;
  
}

#titsmart {
  font-size: 2em!important;
}

#respon {
  display: none;
}

}




@media (max-width: 768px) {
 

 
.caption h1 {
  font-size: 250%;
}

.caption h3 {
  font-size: 100%;
  font-weight: 400;
  padding-bottom: .2rem;
}

.caption p {
  font-size: .9em;
}

.caption .btn {
  font-size: 95%;
  padding: 8px 14px;
}

.display-4 {
  font-size: 200%;
}


  .logo {
            position: fixed;
            top: 0;
            margin-top: 16px;
      }


      .menu-icon {
      background: rgba(0, 0, 0, 0);
      }

      nav {
        background: rgba(0, 0, 0, 0);
        transition: 1s;
      }
     
      nav ul {
            max-height: 0px;
            background: rgba(10, 24, 43, .8);
      }

      nav.black {
        
            background: rgba(10, 24, 43, .8);
      }

      .showing {
            max-height: 34em;
            padding-right: 0!important;
      }

      nav ul li {
            box-sizing: border-box;
            width: 100%;
            padding: 24px;
            text-align: center;
      }

      .menu-icon {
            display: block;
      }


      
#footercollapse {
  display: inline;
}

#footer1 {
  display: none;
}


#jumbotext {
  padding-bottom: 1.5rem;
}

.pad {
  padding-bottom: 1.5rem!important;
}


#divaprende {
  padding-top: 0!important;
}

#tcs {
  transform: translateY(-7%)!important;
}

#cardblog2d {
  padding-right: 1.3rem!important;
}

#cardblog2 {
  width: 30px;
  }


#bannercurcontainer2 {
  margin-top: 1.5rem;
}

#profcont {
padding-right: 0!important;
}

#modulo1, #modulo2, #modulo3, #modulo4, #modulo5 {
    width: 100%!important;
}

#modulo1 li, #modulo2 li, #modulo3 li, #modulo4 li, #modulo5 li {
    font-size: .9em!important;
}

#tarjeta1 {
  border-top-left-radius: 30px; border-top-right-radius: 30px;
}

#tarjeta3 {
  border-top-right-radius: 0px;
}

#vid_frame2 {
  display: none;
}

#vid_frame3 {
  display: inline;
}



}









@media (max-width: 624px) {
  .arrows {
    position:relative;
    margin: 0 auto;
    width:96px;
  }
  .arrow-left {
    left: 0;
    top: -20px;
  }

  .arrow-right {
    right: 0;
    top: -20px;
  }

.logo {
  margin: 14px 20px;
}


#jumbotext {
  font-size: 1em!important;
}

.arrows {
  width: 100%;
}

.cardblog a {
  font-size: .7em;
}

.empezar {
  font-size: 1.5em;
}

}










@media (max-width: 576px) {
  


.container {
  max-width: 100%!important;
  padding: 0.2rem!important;
}

#vid_frame {
  max-width: 100%
}

.fb-group a {
  max-width: 100%;
}


.caption h1{
  font-size: 250%;
}

.caption h3 {
  font-size: 110%;
}


.caption .btn {
  font-size: 90%;
  padding: 4px 8px;
}


.social a {
  font-size: 2em;
  padding: 1rem;

  }

.jumbo p {
  font-size: 90%;
  margin-bottom: .01em;
}


.jumbo .btn {
  font-size: 90%;
}

.display-4 {
  margin-bottom: 0.01em;
}

#fill {
  right: 0;
  left: 0;
}

.header img {
  width: 400%;
  height: 100%;
  transform: translateX(-37.5%);
}

#cont1 {
  padding: .2rem!important;
}

#pc {
  display: none;
}

#mobile {
  display: inline-flex;
}


#cont1 {
  padding-bottom: 3rem!important;
}


.fijo p {
  font-size: .85em!important;
}

.fijo {
  top: 33%!important;
  
  }

#suscribe2 {
  padding: 0 0 2rem 0!important;
}

#fgroup1 {
  display: none;
}

#fgroup2 {
  display: inline;
}

.fun span{
  font-size: 1.4em!important;
}

.cardblog a {
  font-size: 1em;
}

.card-deck {
  flex-direction: column;
  align-items: center;
}
 
#ckout {
  font-size: .8rem;
}
.menu-icon {
  padding: 11px 24px!important;
}

.logo {
  margin: 8px 15px;
}


}

@media (max-width: 350px) {

.fijo p {
  font-size: .7em!important;
}

.fijo {
  top: 35%!important;
  
  }



}
/*---Firefox Bug Fix --*/
.carousel-item {
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}
/*--- Fixed Background Image --*/

figure {
  position: relative;
  width: 100%;
  max-height: 60%;
  margin: 0!important;
}

.fixed-wrap {
  clip: rect(0, auto, 550px, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#fixed {
  background-image: url('../img/mac.jpg');
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  will-change: transform;

  }

.fijo {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -30%);
  max-width: 80%;
  max-height: 100%;
  padding-top: 1rem!important;
  }


/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
    padding: 1rem;
}



/*--- Footer collapse --*/

.container {
  max-width: 970px;
}

div[class*='col-'] {
  padding: 0 30px;
}

.wrap {
    border-radius: 4px;
}

a:focus,
a:hover,
a:active {
  outline: 0;
  text-decoration: none;
}

.panel {
  border-width: 1px 1px 0 0;
  border-style: solid;
  border-color: #2b353d;
  background: none;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  margin-bottom: .5rem;
}

.panel:last-child {
  border-bottom: none;
}

.panel-group > .panel:first-child .panel-heading {
  border-radius: 4px 4px 0 0;
}

.panel-group .panel {
  border-radius: 0;
}

.panel-group .panel + .panel {
  margin-top: 0;
}

.panel-heading {
  
  border-radius: 0;
  border: none;
  color: #fff;
  padding: 0;
  
}

.panel-title a {
  display: block;
  color: #fff;
  padding: 15px;
  position: relative;
  font-size: 16px;
  font-weight: 400;
}


.panel:last-child .panel-body {
  border-radius: 0 0 4px 4px;
}

.panel:last-child .panel-heading {
  border-radius: 0 0 4px 4px;
  transition: border-radius 0.3s linear 0.2s;
}

.panel:last-child .panel-heading.active {
  border-radius: 0;
  transition: border-radius linear 0s;
}





     .panel-heading::before {
        display: none;
      }

.panel-heading a:before {
  font-family: "Font Awesome 5 Free";
   content: "ᐱ";
  position: absolute;
  right: 5px;
  top: 10px;
  font-size: 24px;
  transition: all 0.5s;
  transform: scale(1);
}

.panel-heading.active a:before {
  content: "";
  transition: all 0.5s;
  transform: scale(0);
}

#bs-collapse .panel-heading a:after {
  content: "ᐱ";
  font-size: 24px;
  position: absolute;
  font-family: "Font Awesome 5 Free";
  right: 5px;
  top: 10px;
  transform: scale(0);
  transition: all 0.5s;
}

#bs-collapse .panel-heading.active a:after {
  content: "";
  transform: scale(1);
  transition: all 0.5s;
}

/* #accordion rotate icon option */
#accordion .panel-heading a:before {
  font-family: "Font Awesome 5 Free";
  content: "ᐱ";
  font-size: 24px;
  position: absolute;
  right: 5px;
  top: 10px;
  transform: rotate(180deg);
  transition: all 0.5s;
}

#accordion .panel-heading.active a:before {
  transform: rotate(0deg);
  transition: all 0.5s;
}
 



/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/








